@import  "reset.scss";

body{
    
  .list_wrap{
      width: 100%;
      .list_con{
        width: 1200px;
        margin: 0 auto;
        .lists{
            li{
                float: left;
                margin-bottom: 20px;
                padding: 9px;
                border: 1px solid transparent;
                background-color: #fff; 
                a{
                    display: block;
                    height: 323px;
                    width: 220px;
                    img{
                        width: 220px;
                        height: 240px;
                    }
                    span{
                        margin: 10px;
                        display: block;
                        height: 18px;
                        line-height: 18px;
                        font-size: 14px;
                        font-weight: 700;
                        color: #ff6a00;
                    }
                    p{
                        margin: 17px;
                        font-size: 12px;
                        display: block;
                        height: 18px;
                        width: 220px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        &:hover{
                            color: #ff6a00;
                            text-decoration: underline;
                        }
                    }

                }
                .goods_btns{
                    padding: 4px 0;
                    text-align: center;
                    border: 2px solid #d9d9d9;
                    border-radius: 4px;
                    cursor: pointer;
                    &:active{
                        border: 2px solid #cfcccc;
                        background:#333146
                    }
                    span{
                        display: inline-block;
                        margin-bottom:-3px; 
                        width: 16px;
                        height: 16px;
                        background: url(https://img02.hua.com/pc/assets/img/ico_cart_d.png) no-repeat;
                        background-position: 0 -16px ;
                    }
                }
                &:hover{
                    border-color:#ccc; 
                }
            }
        }
      }
  }  
}